<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>

      <%= link_to  "inicio", root_path %>

      <% if user_signed_in? %>
        <span>Bienvenido <%= current_user.email %></span>
        <%= link_to  "cerrar sesion", destroy_user_session_path, method: :delete %>
        <%= link_to  "Ver carrito", cart_path %>
      <% else %>
        <%= link_to  "iniciar sesion", new_user_session_path %>
        <%= link_to  "crear cuenta", new_user_registration_path %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
